/* Mac Book */

@media (max-width: 1440px) {
    .hero__wrap {
        grid-gap: 20px;
        grid-template-columns: 230px auto 380px;
    }
    .hero__mid .main-img {
        max-width: 770px;
    }
    .hero__right img.typo {
        max-width: 340px;
    }
    .hero__left img {
        max-width: 230px;
    }
    .hero__mid .page-speed {
        max-width: 220px;
    }
    .hero__mid .icon {
        width: 70px;
        height: 70px;
    }
    .hero__mid .video {
        gap: 10px;
        margin-bottom: 50px;
    }
    .feature__area {
        padding-top: 220px;
    }
    .feature__inner {
        padding: 0 100px;
    }
    .feature__item {
        padding: 40px 40px 20px;
    }
    .feature__item img {
        max-width: 215px;
    }
    .feature__top {
        background-size: 140px;
    }
    .demo__inner {
        padding: 0 100px;
    }
    .demo__list-inner {
        grid-gap: 50px;
    }
    .demo__item img {
        max-width: 380px;
    }
    .plugin__inner {
        padding: 0 50px;
        grid-gap: 90px;
        grid-template-columns: auto 1fr 360px;
    }
    .plugin__btm {
        padding: 40px;
    }
    .plugin__mid .plugins {
        transform: translate(75%, -60%);
    }
    .main_title {
        font-size: 60px;
    }
    .elementor__area {
        padding: 100px 50px 30px 10px;
    }
    .elementor__left img {
        max-width: 770px;
    }
    .responsive__area {
        padding: 100px 50px 80px;
    }
    .responsive__inner {
        grid-gap: 50px;
        grid-template-columns: 1fr 1.5fr;
    }
    .responsive__right img {
        max-width: 650px;
    }
    .speed__area {
        padding: 130px 50px 0;
    }
    .advancef__area {
        padding: 130px 50px;
    }
    .advancef__btm {
        grid-gap: 40px;
    }
    .innerpage__area {
        padding: 100px 50px;
    }
    .support__area {
        padding: 130px 50px;
    }
    .support__inner {
        grid-gap: 75px;
    }
}

/* Laptop */

@media (max-width: 1439px) {
    .hero__mid .main-img {
        max-width: 700px;
        bottom: -80px;
    }
    .feature__inner {
        padding: 0 60px;
    }
    .demo__inner {
        padding: 0 60px;
    }
    .elementor__left img {
        max-width: 730px;
    }
    .responsive__right img {
        max-width: 630px;
    }
    .hero__top .title {
        padding-bottom: 20px;
        font-size: 72px;
    }
    .innerpage__right {
        padding-left: 100px;
    }
    .innerpage__area::after {
        left: 37%;
    }
    .support__inner {
        grid-gap: 60px;
    }
    .footer__inner .title {
        font-size: 100px;
    }
}

/* Tablet */

@media (max-width: 1365px) {
    .footer__inner .title {
        font-size: 100px;
    }
    .hero__wrap {
        grid-template-columns: 200px auto 300px;
    }
    .hero__right img.typo {
        max-width: 240px;
        margin-right: -20px;
    }
    .hero__mid .main-img {
        max-width: 460px;
        bottom: -50px;
    }
    .hero__left img {
        max-width: 180px;
    }
    .hero__mid .page-speed {
        max-width: 200px;
    }
    .hero__right .envato {
        margin-bottom: 50px;
        max-width: 130px;
    }
    .hero__mid .arrow {
        display: none;
    }
    .feature__area {
        padding-top: 120px;
        padding-bottom: 100px;
    }
    .feature__top {
        background-position: center 90%;
    }
    .main_title {
        font-size: 48px;
    }
    .feature__list {
        grid-gap: 30px 60px;
        grid-template-columns: 1fr 1fr;
    }
    .demo__area {
        padding: 100px 0;
    }
    .journey__area {
        padding-bottom: 100px;
    }
    .counter_top {
        padding-bottom: 40px;
    }
    .modal__inner {
        width: 80%;
        height: 70%;
    }
    .journey__inner .video {
        height: 580px;
    }
    .demo__list-inner {
        grid-template-columns: repeat(3, 1fr);
    }
    .demo__item img {
        max-width: 100%;
    }
    .plugin__area {
        padding: 100px 0;
    }
    .plugin__inner {
        grid-template-columns: repeat(6, 1fr);
    }
    .plugin__top {
        grid-column: 1/-1;
        display: flex;
        gap: 30px;
        justify-content: space-between;
    }
    .plugin__mid {
        grid-column: 1/4;
        grid-row: 2;
    }
    .plugin__btm {
        grid-column: 4/-1;
        grid-row: 2;
    }
    .elementor__left img {
        max-width: 530px;
    }
    .elementor__inner {
        grid-gap: 0;
    }
    .elementor__area::after {
        left: 58%;
    }
    .elementor__area {
        padding: 80px 30px 30px 10px;
    }
    .responsive__area {
        padding: 80px 30px 80px;
    }
    .responsive__right img {
        max-width: 480px;
    }
    .device_list {
        grid-gap: 20px;
    }
    .responsive__inner {
        grid-gap: 40px;
        grid-template-columns: 1fr 1fr;
    }
    .responsive__area::after {
        left: 48%;
    }
    .device_type::after {
        left: -10px;
    }
    .device_type .img {
        min-height: 80px;
    }
    .portfolio__btm img {
        max-width: 330px;
    }
    .speed__area {
        padding: 100px 50px 0;
    }
    .portfolio__top {
        padding-top: 100px;
    }
    .speed__inner {
        grid-template-columns: repeat(6, 1fr);
    }
    .speed__left {
        grid-column: 1/-1;
    }
    .speed__mid {
        grid-column: 1/4;
        grid-row: 2;
    }
    .speed__right {
        grid-column: 4/-1;
        grid-row: 2;
    }
    .element__inner {
        padding: 100px 53px 0;
        grid-gap: 50px;
        grid-template-columns: 1.5fr 1fr;
    }
    .element__left .totol {
        font-size: 160px;
    }
    .element__area {
        padding-bottom: 100px;
    }
    .advancef__area {
        padding: 100px 50px;
    }
    .advancef__btm {
        grid-gap: 30px;
    }
    .advance_feature img {
        max-width: 205px;
    }
    .advancef__btm h3 {
        font-size: 20px;
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .innerpage__right {
        padding-left: 0;
    }
    .innerpage__inner {
        grid-gap: 60px;
        grid-template-columns: 1fr 1.7fr;
    }
    .innerpage__area::after {
        left: 39%;
        width: 0;
    }
    .support__area {
        padding: 100px 50px;
    }
    .support__type h2 {
        font-size: 24px;
        padding-bottom: 20px;
    }
    .support__inner {
        grid-gap: 30px;
    }
    .footer__area {
        padding: 100px 30px;
    }
    /* Mobile */
    .header__inner {
        padding: 20px;
    }
    .header__btn {
        gap: 10px;
        display: flex;
        justify-content: flex-end;
    }
    .megamenu_inner {
        padding: 0;
    }
    /* .menu_icon {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0 5px;
    background: transparent;
  } */
    .offcanvas__area {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        background: #111;
        z-index: 9;
        transition: all 0.5s;
    }
    .offcanvas__area.showed {
        left: 0;
    }
    .offcanvas__inner {
        padding: 30px 0;
        padding-top: 70px;
    }
    .menu_close {
        font-size: 24px;
        background: transparent;
        color: #fff;
        border: none;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .offcanvas__menu li a {
        display: block;
        color: #fff;
        font-size: 24px;
        line-height: 1.5;
        text-transform: capitalize;
        padding: 5px 0;
    }
    .mean-nav>ul {
        padding: 0;
        margin: 0;
        width: 100%;
        list-style-type: none;
        display: block !important;
    }
    .mean-container .mean-bar {
        padding: 0;
        min-height: 0;
        background: transparent;
    }
    .mean-container .mean-nav {
        background: transparent;
        margin-top: 0;
    }
    .mean-container a.meanmenu-reveal {
        display: none !important;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        background-color: transparent;
        line-height: 34px;
        font-weight: 300;
        border-color: #242424 !important;
    }
    .mean-container .mean-nav ul li a.mean-expand:hover {
        background: rgba(0, 0, 0, .0);
    }
    .offcanvas__menu-inner {
        height: 90vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .mean-container .mean-nav ul li a {
        border-color: #242424 !important;
        width: calc(100% - 32px);
        padding: 16px;
    }
    .mean-container .mean-nav ul li li a {
        width: calc(100% - 30px);
        padding: 16px 30px;
        opacity: 1;
    }
    .mean-container .mean-nav ul li li li a {
        width: 70%;
        padding: 1em 15%;
    }
    li.mean-last {
        border-bottom: 1px solid #242424;
    }
}

@media (max-width: 1023px) {
    .header__menu {
        display: none;
    }
    .menu_icon {
        display: block;
        border: none;
        cursor: pointer;
        padding: 0 5px;
        background: transparent;
    }
    .elementor__area::after {
        width: 0;
    }
    .responsive__area::after {
        width: 0;
    }
    .feature__top {
        background-image: unset;
    }
    .footer__inner .title {
        font-size: 72px;
    }
    .hero__top .title {
        font-size: 60px;
    }
    .modal__inner {
        width: 80%;
        height: 80%;
    }
    .hero__mid .main-img {
        display: none;
    }
    .journey__inner .video {
        height: 440px;
    }
    .hero__wrap {
        margin-top: 20px;
    }
    .feature__area {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .feature__inner {
        padding: 0 20px;
    }
    .modal__inner {
        height: 68%;
    }
    .main_title {
        font-size: 40px;
    }
    .main_title span {
        display: inline;
    }
    .feature__list {
        grid-gap: 30px;
    }
    .feature__top {
        background-position: center 96%;
    }
    .demo__area {
        padding: 80px 0;
    }
    .demo__inner {
        padding: 0 20px;
    }
    .demo__list-inner {
        grid-gap: 35px 20px;
    }
    .plugin__inner {
        padding: 0 20px;
    }
    .plugin__btm {
        padding: 30px;
    }
    .plugin__btm .price span {
        font-size: 40px;
    }
    .plugin__btm .price {
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .plugin_item {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .plugin_item .name {
        font-size: 20px;
    }
    .plugin__area {
        padding: 80px 0;
    }
    .elementor__area {
        padding: 80px 30px;
    }
    .elementor__inner {
        grid-gap: 30px;
        grid-template-columns: 1fr;
        position: relative;
        z-index: 1;
    }
    .elementor__right {
        padding-left: 0;
    }
    .elementor__left img {
        max-width: 95%;
    }
    .responsive__area {
        padding: 80px 30px;
    }
    .responsive__inner {
        grid-template-columns: 1fr;
        position: relative;
        z-index: 1;
    }
    .responsive__left {
        order: 2;
    }
    .responsive__right img {
        max-width: 100%;
    }
    .portfolio__top {
        max-width: 530px;
        padding-top: 80px;
    }
    .portfolio__top br {
        display: none;
    }
    .portfolio__btm img {
        max-width: 280px;
    }
    .speed__area {
        padding: 80px 30px 0;
    }
    .speed__inner {
        grid-gap: 50px 20px;
    }
    .speed__mid {
        padding: 30px 35px;
    }
    .speed__level h4 {
        font-size: 60px;
        padding-top: 5px;
    }
    .gt-score {
        margin-bottom: 20px;
    }
    .theme-compare {
        padding: 25px 20px 20px;
    }
    .theme-compare p span {
        width: 125px;
    }
    .element__inner {
        padding: 80px 30px 0;
        grid-gap: 50px;
    }
    .element__inner {
        padding: 80px 30px 0;
        grid-gap: 30px;
        grid-template-columns: 1fr;
    }
    .element__left {
        justify-content: flex-start;
        gap: 50px;
    }
    .advancef__area {
        padding: 80px 30px;
    }
    .advancef__btm {
        grid-gap: 50px;
        grid-template-columns: 1fr 1fr;
    }
    .innerpage__area {
        padding: 80px 30px;
    }
    .innerpage__inner {
        grid-gap: 60px;
        grid-template-columns: 1fr;
        position: relative;
        z-index: 1;
    }
    .support__area {
        padding: 80px 30px;
    }
    .support__inner {
        grid-gap: 60px;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__area {
        padding: 80px 30px;
    }
}

/* Mobile */

@media (max-width: 767px) {
    .footer__inner .title {
        font-size: 60px;
    }
    .hero__left {
        display: none;
        align-items: flex-end;
    }
    .hero__top .title {
        font-size: 40px;
    }
    .hero__top {
        padding-top: 130px;
    }
    .hero__top p {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .hero__wrap {
        grid-template-columns: 1fr;
    }
    .hero__left img {
        max-width: 100%;
        margin: 0 auto;
    }
    .hero__mid {
        align-items: center;
        flex-direction: unset;
        padding: 15px;
        justify-content: space-around;
    }
    .hero__mid .page-speed {
        max-width: 160px;
    }
    .hero__mid .icon {
        width: 60px;
        height: 60px;
        border-width: 1px;
    }
    .hero__mid .video {
        gap: 10px;
        margin-bottom: 0;
        margin-right: 10px;
        flex-direction: column;
    }
    .hero__right {
        gap: 10px;
        flex-direction: unset;
        justify-content: space-around;
    }
    .hero__area {
        padding-bottom: 40px;
    }
    .feature__area {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .feature__top {
        grid-template-columns: 1fr;
        padding-bottom: 80px;
    }
    .feature__list {
        grid-template-columns: 1fr;
    }
    .feature__item p {
        font-size: 16px;
        padding-bottom: 25px;
    }
    .feature__item .title {
        padding-bottom: 10px;
    }
    .journey__inner .video {
        height: 320px;
    }
    .journey__area {
        padding-bottom: 60px;
        background-size: 300%;
    }
    .counter_top {
        padding-bottom: 20px;
    }
    .counter_active {
        font-size: 36px;
    }
    .counter p {
        font-size: 15px;
    }
    .counter_wrap {
        justify-content: space-between;
    }
    br {
        display: none;
    }
    .demo__area {
        padding: 60px 0;
    }
    .demo__list-inner {
        grid-template-columns: 1fr 1fr;
    }
    .demo__btn {
        margin-bottom: 50px;
    }
    .plugin__top {
        flex-direction: column;
        padding-bottom: 70px;
    }
    .plugin__area {
        padding: 60px 0;
    }
    .plugin__mid {
        grid-column: 1/-1;
    }
    .plugin__btm {
        grid-column: 1/-1;
        grid-row: 3;
    }
    .plugin__inner {
        grid-gap: 40px;
    }
    .plugin__mid .plugins {
        transform: translate(15%, -85%);
    }
    .elementor__area {
        padding: 60px 20px;
    }
    .elementor__right {
        padding-left: 0;
    }
    .responsive__area {
        padding: 60px 20px;
    }
    .device_list {
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
    .device_type::after {
        position: unset;
    }
    .responsive__area::after {
        left: 50%;
    }
    .elementor__area::after {
        left: 50%;
    }
    .elementor__right p {
        padding-top: 20px;
        font-size: 16px;
    }
    .responsive__left p {
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 35px;
    }
    .device_type p {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 0;
    }
    .header__btn a {
        padding: 7px 15px;
    }
    .hero__area .shape {
        max-width: 160px;
        left: 0;
    }
    .portfolio__top {
        padding: 60px 20px 40px;
    }
    .speed__area {
        padding: 60px 20px 0;
    }
    .portfolio__btm img {
        max-width: 190px;
    }
    .speed__mid {
        padding: 20px;
        grid-column: 1/-1;
    }
    .speed__right {
        grid-column: 1/-1;
        grid-row: 3;
    }
    .speed__inner {
        grid-gap: 35px 20px;
    }
    .speed__mid::after {
        height: 145px;
        top: 20px;
    }
    .element__inner {
        padding: 60px 20px 0;
    }
    .element__left .totol {
        font-size: 100px;
    }
    .element__left {
        gap: 0;
    }
    .element__left img {
        max-width: 150px;
    }
    .element__slider-wrap {
        padding-top: 60px;
    }
    .element__area {
        padding-bottom: 60px;
    }
    .advancef__area {
        padding: 60px 20px;
    }
    .advancef__btm {
        grid-template-columns: 1fr;
    }
    .innerpage__area {
        padding: 60px 20px;
    }
    .support__area {
        padding: 60px 20px;
    }
    .support__inner {
        grid-gap: 40px;
        grid-template-columns: 1fr;
    }
    .support__type h2 {
        padding-bottom: 10px;
    }
    .footer__area {
        padding: 60px 20px;
    }
    .footer__inner .title {
        font-size: 48px;
        padding-top: 5px;
    }
    .footer__inner .sub-title {
        font-size: 20px;
    }
    .footer__inner p {
        font-size: 20px;
        padding-bottom: 50px;
    }
    .modal__inner {
        width: 90%;
        height: 280px;
    }
}

@media (min-width: 1441px) and (max-width: 1900px) {
    .hero__wrap {
        grid-gap: 20px;
        grid-template-columns: 230px auto 380px;
    }
    .hero__mid .main-img {
        max-width: 770px;
        left: 65%;
        transform: translateX(-50%) !important;
    }
    .hero__right img.typo {
        max-width: 340px;
    }
    .hero__left img {
        max-width: 230px;
    }
    .hero__mid .page-speed {
        max-width: 220px;
    }
    .hero__mid .icon {
        width: 70px;
        height: 70px;
    }
    .hero__mid .video {
        gap: 10px;
        margin-bottom: 50px;
    }
}

@media (min-width: 2000px) {
    .hero__mid .main-img {
        left: 57%;
        transform: translateX(-50%) !important;
    }
}